[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "$PYPI_MIRROR"
verify_ssl = true
name = "messaging-pypi"

[packages]
"telstra.messaging" = { version="==${VERSION}", index="messaging-pypi" }

[dev-packages]
pytest = "^7.2.2"
black = {version = "^23.1.0", allow-prereleases = true}
pylint = "^2.17.0"

[scripts]
test = "pytest"

[pipenv]
allow_prereleases = true
