[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "$PYPI_MIRROR"
verify_ssl = true
name = "messaging-pypi"

[packages]
"telstra.messaging" = { version="==${VERSION}", index="messaging-pypi" }

[dev-packages]
pytest = ">=6"
black = ">=23"
pylint = ">=2.17"

[scripts]
test = "pytest"

[pipenv]
allow_prereleases = true
