[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "$PYPI_MIRROR"
verify_ssl = true
name = "messaging-pypi"

[packages]
"telstra.messaging.v3" = { version="==${VERSION}", index="messaging-pypi" }

[dev-packages]
pytest = "6.2.1"
black = "20.8b1"
pylint = "2.6.0"

[scripts]
test = "pytest"

[pipenv]
allow_prereleases = true
